<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1 class="text-center mb-3">Login</h1>
    <div class="card mb-3">
    <div class="card-body">
        <div>
            <span>User ID:</span>
            <input type="text" name="username" id="login_username"/>
        </div>
        <div>
            <span>Password:</span>
            <input type="password" name="password" id="login_password"/>
        </div>
        <div>
            <button id="login_btn">Login</button>
        </div>
        
    </div>
    </div>
</body>
</html>