<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dbtest-Questions</title>
</head>
<body>
    <h1 class="text-center mb-3">Poll Questions</h1>
    {% if list %}
        {% for question in list %}
            <div class="card mb-3">
            <div class="card-body">
                <p class="lead">{{ question.question_text }}</p>
            </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No questions available</p>
    {% endif %}
</body>
</html>